## Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Service Fabric
pkg/
*.sfproj.user
*.sfpkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Logs
*.log

## OS Files
Thumbs.db
Desktop.ini
.DS_Store